Repository Interacao-Humano-Computador/2020.2-Ingresso.eear, pull requests merged in 2021-03, with the labels that each got.

#8 Estrutura incial e primeiras adições da Wiki
  .gitignore
  docs/apresentacoes.md
  docs/assets/imagens/ciclo_mayhew.png
  docs/assets/imagens/favicon.ico
  docs/assets/imagens/logo_eear.png
  docs/assets/stylesheets/extra.css
  docs/atas/reuniao-23-02-2021.md
  docs/index.md
  docs/planejamento.md
  mkdocs.yml
Labels: ARTEFATO, PLANEJAMENTO, REUNIÃO

#11 (#5) Adicionando cronograma de atividades
  docs/assets/imagens/cronograma.jpeg
  docs/planejamento.md
Labels: documentation

#12 (#6) - Adicionando quadro de disponibilidade
  docs/assets/imagens/heatmap.jpg
  docs/planejamento.md
Labels: documentation

#16 Reunião 13/03/2021
  docs/analise-de-requisitos/analise-de-tarefas.md
  docs/analise-de-requisitos/perfil-do-usuario.md
  docs/analise-de-requisitos/personas.md
  docs/atas/reuniao-13-03-2021.md
  mkdocs.yml
Labels: REUNIÃO

#18 Perfil do usuário
  docs/analise-de-requisitos/perfil-do-usuario.md
  docs/assets/imagens/perfil-do-usuario/p01.jpeg
  docs/assets/imagens/perfil-do-usuario/p02.jpeg
  docs/assets/imagens/perfil-do-usuario/p03.jpeg
  docs/assets/imagens/perfil-do-usuario/p04.jpeg
  docs/assets/imagens/perfil-do-usuario/p05.jpeg
  docs/assets/imagens/perfil-do-usuario/p06.jpeg
  docs/assets/imagens/perfil-do-usuario/p07.jpeg
  docs/assets/imagens/perfil-do-usuario/p08.jpeg
  docs/assets/imagens/perfil-do-usuario/p09.jpeg
  docs/assets/imagens/perfil-do-usuario/p10.jpeg
  docs/assets/imagens/perfil-do-usuario/p11.jpeg
  docs/assets/imagens/perfil-do-usuario/p12.jpeg
  docs/assets/imagens/perfil-do-usuario/p13.jpeg
Labels: ANALISE DE REQUISITOS, ARTEFATO

#21 (#19) Análise de tarefas
  docs/analise-de-requisitos/analise-de-tarefas.md
  docs/assets/imagens/analise_tarefa_1.jpg
  docs/assets/imagens/analise_tarefa_2.jpg
Labels: ANALISE DE REQUISITOS, ARTEFATO

#22 (#15) Ajustes após entrega 1
  docs/analise-de-requisitos/analise-de-tarefas.md
  docs/assets/imagens/heatmap.jpeg
  docs/assets/imagens/heatmap.jpg
  docs/planejamento.md
Labels: AJUSTES

#26 Ata da Reunião 20/03/2021
  docs/atas/reuniao-13-03-2021.md
  docs/atas/reuniao-20-03-2021.md
  docs/atas/reuniao-23-02-2021.md
  mkdocs.yml
Labels: REUNIÃO

#30 Guia de Estilo
  docs/analise-de-requisitos/guia-de-estilo.md
  docs/assets/imagens/candidato.png
  docs/assets/imagens/cores.png
  docs/assets/imagens/exame.png
  docs/assets/imagens/fontes.png
  docs/assets/imagens/guia-de-estilo/3S.gif
  docs/assets/imagens/guia-de-estilo/delete.gif
  docs/assets/imagens/guia-de-estilo/gladio.gif
  docs/assets/imagens/guia-de-estilo/grid-area-candidato.png
  docs/assets/imagens/guia-de-estilo/grid-homepage.png
  docs/assets/imagens/guia-de-estilo/grid-login.png
  docs/assets/imagens/guia-de-estilo/grid-noticia.png
  docs/assets/imagens/guia-de-estilo/grid-provas-anteriores.png
  docs/assets/imagens/homepage.png
  docs/assets/imagens/informacao.png
  docs/assets/imagens/ingressoEEAR.png
  docs/assets/imagens/inscricao.png
  docs/assets/imagens/logo.png
  docs/assets/imagens/provas.png
  docs/assets/imagens/realizar_login.png
  docs/assets/imagens/tela.png
  mkdocs.yml
Labels: ANALISE DE REQUISITOS, ARTEFATO

#31 (#27 #28) Metas de Usabilidade e Princípios do Projeto
  docs/analise-de-requisitos/metas-de-usabilidade.md
  docs/analise-de-requisitos/principios-gerais.md
  docs/apresentacoes.md
  mkdocs.yml
Labels: ANALISE DE REQUISITOS, ARTEFATO
