Repository Interacao-Humano-Computador/2020.2-Ingresso.eear, pull requests merged in 2021-04, with the labels that each got.

#34 Planejamento da avaliação da análise de tarefas
  docs/design-ava-dese/nivel-1/avaliacoes/plan-ava-ana-tarefas.md
  mkdocs.yml
Labels: ARTEFATO, DESIGN AVALIAÇÃO E DESENVOLVIMENTO, NÍVEL 1

#35 32 storyboard
  docs/assets/imagens/storyboard/Storyboard-1.png
  docs/assets/imagens/storyboard/Storyboard-2.png
  docs/assets/imagens/storyboard/Storyboard-3.png
  docs/design-ava-dese/nivel-1/avaliacoes/plan-ava-storyboard.md
  docs/design-ava-dese/nivel-1/storyboard.md
Labels: ENTREGA

#39 37 resultados storyboards
  docs/assets/imagens/storyboard/termodeconssentimento.png
  docs/design-ava-dese/nivel-1/avaliacoes/resultado-ava-storyboard.md
  mkdocs.yml
Labels: DESIGN AVALIAÇÃO E DESENVOLVIMENTO, ENTREGA, NÍVEL 1

#40 38 Planejamento protótipo de papel
  docs/design-ava-dese/nivel-2/plan-prototipo-papel.md
  mkdocs.yml
Labels: DESIGN AVALIAÇÃO E DESENVOLVIMENTO, ENTREGA, NIVEL 2

#41 Avaliação da análise de tarefas
  docs/analise-de-requisitos/personas.md
  docs/design-ava-dese/nivel-1/avaliacoes/avaliacao-acompanha.md
  docs/design-ava-dese/nivel-1/avaliacoes/avaliacao-efetua.md
  docs/design-ava-dese/nivel-1/avaliacoes/plan-ava-ana-tarefas.md
  docs/design-ava-dese/nivel-1/avaliacoes/teste-piloto-ana.md
Labels: DESIGN AVALIAÇÃO E DESENVOLVIMENTO, ENTREGA, NÍVEL 1
