Repository Interacao-Humano-Computador/2020.2-Ingresso.eear, pull requests merged in 2021-05, with the labels that each got.

#51 Correção Análises de Tarefas
  docs/analise-de-requisitos/analise-de-tarefas.md
  docs/assets/imagens/hta/hta-legenda.png
  docs/assets/imagens/hta/hta-t1.png
  docs/assets/imagens/hta/hta-t2.png
Labels: AJUSTES

#58 52 Verificação (personas, storyboards) e Validação
  docs/analise/validacao/validacao-informal.md
  docs/analise/verificacao/personas.md
  docs/analise/verificacao/resultado-ava-storyboard.md
  docs/analise/verificacao/storyboards.md
  docs/design-ava-dese/nivel-1/storyboards/storyboards.md
  mkdocs.yml
Labels: VALIDAÇÃO, VERIFICAÇÃO

#55 48 prototipacao
  docs/design-ava-dese/nivel-3/plan-prototipo-alta.md
  docs/design-ava-dese/nivel-3/resultado-prot-alta.md
  docs/design-ava-dese/nivel-3/teste-piloto-alta.md
Labels: NIVEL 3

#60 Planejamento e verificação do prototipo de alta fidelidade
  docs/analise/verificacao/plan-prot-alta.md
  docs/analise/verificacao/planejamento.md
  docs/analise/verificacao/resu-prot-alta.md
  docs/design-ava-dese/nivel-3/plan-prototipo-alta.md
  docs/design-ava-dese/nivel-3/resultado-prot-alta.md
  docs/design-ava-dese/nivel-3/teste-piloto-alta.md
  mkdocs.yml
Labels: VERIFICAÇÃO

#61 Verificação (Perfil dos usuários, Guia de Estilo e Planejamento e Avaliação do Storyboards)
  docs/analise-de-requisitos/guia-de-estilo.md
  docs/analise-de-requisitos/perfil-do-usuario.md
  docs/analise/verificacao/guia-de-estilo.md
  docs/analise/verificacao/perfil-do-usuario.md
  docs/analise/verificacao/plan-ava-storyboard.md
  docs/design-ava-dese/nivel-1/storyboards/plan-ava-storyboard.md
  mkdocs.yml
Labels: VERIFICAÇÃO

#56 Verificação (Metas de Usabilidade, Princípios Gerais do Projeto, Planejamento da Avaliação da Análise de Tarefas e Análise de Tarefas)
  docs/analise-de-requisitos/analise-de-tarefas.md
  docs/analise/verificacao/analise-de-tarefas.md
  docs/analise/verificacao/metas-de-usabilidade.md
  docs/analise/verificacao/plan-ava-analise-de-tarefas.md
  docs/analise/verificacao/principio-gerais-do-projeto.md
  docs/assets/imagens/hta/hta-t1.jpg
  docs/assets/imagens/hta/hta-t1.png
  docs/assets/imagens/hta/hta-t2.jpg
  docs/assets/imagens/hta/hta-t2.png
  docs/design-ava-dese/nivel-1/ana-tarefas/plan-ava-ana-tarefas.md
  mkdocs.yml
Labels: VERIFICAÇÃO
